import os;
directories = {
"marss_directory": "%s/marss.dramsim" % (os.getenv("HOME")),
"util_directory": "%s/marss.utils" % (os.getenv("HOME")),
}

files = {
"xoauth_file": "%s/xoauth.txt" %(directories["util_directory"])
}

others = {
"destination_email" : "YOUREMAIL@whatever.com"
}

def get_xoauth_filename():
	return files["xoauth_file"];

def get_marss_dir_path(filename):
	return "%s/%s" % (directories["marss_directory"], filename)

def get_destination_email():
	if others["destination_email"] == "YOUREMAIL@whatever.com":
		print "Please change the default destination email in config.py before proceeding"
		exit();
	return others["destination_email"]
